Mos/AdvancedJava/SYSTEM/FileRepository/src/java/rest/Product1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="org.mk.training@gmail.com/RESTSAMPLE" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="org.mk.training@gmail.com/RESTSAMPLE" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://127.0.0.1:8080/schemas/repository/rest/xlink.xml"/>
	<xs:element name="SoundTracks" type="tns:SoundTracksType"/>
	<xs:complexType name="SoundTracksType">
		<xs:sequence>
			<xs:element name="SoundTrack" type="tns:SoundTrackType" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SoundTrackType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="artist" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
			<xs:element name="id">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="xlink:href"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="SoundTrackDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="artist" type="xs:string"/>
				<xs:element name="genre" type="xs:string"/>
				<xs:element name="soundengineer" type="xs:string"/>
				<xs:element name="year" type="xs:string"/>
				<xs:element name="producer" type="xs:string"/>
				<xs:element name="price" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
